// 公用样式


// 上传组件的样式
// 自己组件的标签, 在当前组件的template中能看到的就属于自己的标签,style(scope)写的样式生效
// 其他组件的标签,style(scope)写的样式作用不了其他组件的样式生效
.avatar-uploader {
    text-align: center;
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #409eff;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}

.avatar {
    width: 178px;
    height: 178px;
    display: block;
}


// 富文本内容区域高度
.ql-editor {
    height: 300px;
}

.ql-toolbar .ql-snow {
    padding: 0 8px;
}

// 覆盖 my-cover组件中的对话框样式